body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 10px #D6EAF8;
}

.gridElement {
    flex: none;
    border: 1px solid whitesmoke;
}

.header {
    padding: 30px 0;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: bolder;
    margin: auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

button {
    border-radius:15px;
    border-color: darkslategrey;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px;
    min-width: 200px;
    background-color: aliceblue;
    font-size: 16px;
    box-shadow: 10px 10px #D6EAF8;
}

button:hover {
    color: white;
    background-color: darkslategrey;
    cursor: pointer;
}

.active {
    color: white;
    background-color: darkslategrey;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sizeValue {
    font-size: 16px;
    color: darkslategrey;
}

.sizeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.sizeSlider:hover {
    opacity: 1;
}
  
.sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: darkslategrey;
    cursor: pointer;
}

.colorPicker {
    display: inline-flex;
    vertical-align: bottom;
    border: none;
    border-radius: 15px;
    padding: 0;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 15px;
}
  
::-moz-color-swatch {
    border: 0;
    border-radius: 15px;
}