body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;

    box-shadow: 10px 10px #D6EAF8;
}

.gridElement {
    flex: none;
    border: 1px solid whitesmoke;
}

.header {
    padding: 30px 0;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: bolder;
    margin: auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}